h1 {
    text-align: center;
    font-size: 50px;
    font-style:normal;
}

body {
    background-image: url(starnight.jpg);
    background-position: center;
    background-repeat: no-repeat;
    font-family:monospace;
    color: white;
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-size: 20px;
}
.sub-container {
    display: flex;
    width: 50%;
    max-width: 1200px;
}
.chat-input{
    flex-direction: row;
    align-items: left;
}
.chat-feed{
    flex-direction: column;  
    align-items: left;
}
input{
    display: inline;
    padding: 5px;
    margin: 10px 10px 0 0;
    height: 20px;
}
.chat-input-name {
    width: 20%;
}
.chat-input-msg{
    width: 65%;
}
button{
    height: 34px;
    margin-top: 10px;
}
.chat-header{
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}
.chat-box{
    border: 3px solid white;
    height: 400px;
    padding-left: 5px;
    overflow: auto;
}
p{
    overflow-wrap: break-word;
}
@media (max-width: 800px) {
    .sub-container {
        width: 75%;
    }
}